/* Selected Tags */
.vs__selected {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    z-index: 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    background-color: var(--vs-selected-bg);
    border: var(--vs-selected-border-width) var(--vs-selected-border-style) var(--vs-selected-border-color);
    border-radius: var(--vs-border-radius);
    color: var(--vs-selected-color);
    line-height: var(--vs-line-height);
    padding: var(--vs-selected-multiple-padding);
}
.vs__selected:has(.vs__deselect) {
    padding-right: 28px;
}
.vs__deselect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--vs-selected-bg);
    display: inline-flex;
    align-items: center;
    appearance: none;
    padding: 0 4px;
    border: 0;
    cursor: pointer;
    fill: var(--vs-controls-color);
    text-shadow: var(--vs-controls--deselect-text-shadow);
}

/* States */

.vs--single .vs__selected {
    background-color: transparent;
    border-color: transparent;
    flex: none;
    padding: 0;
}

.vs--single.vs--open .vs__selected,
.vs--single.vs--loading .vs__selected {
    position: relative;
    opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
    display: none;
}

